In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame.from_dict({'Age':[10, 35, 34, 23, 70, 55, 89], 
                            'Height':[130, 178, 155, 133, 195, 150, 205],
                            'Weight':[80, 200, 220, 150, 140, 95, 180]})
df

   Age  Height  Weight
0   10     130      80
1   35     178     200
2   34     155     220
3   23     133     150
4   70     195     140
5   55     150      95
6   89     205     180

In [3]:
def min_max_scaling(series):
    return (series-series.min())/ (series.max()-series.min())
for col in df.columns:
    df[col] = min_max_scaling(df[col])
print(df.head())

        Age    Height    Weight
0  0.000000  0.000000  0.000000
1  0.316456  0.640000  0.857143
2  0.303797  0.333333  1.000000
3  0.164557  0.040000  0.500000
4  0.759494  0.866667  0.428571

## Normalisasi Standar (MinMaxScaler)

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
scaler = MinMaxScaler()
scaler.fit(df)
scaled = scaler.fit_transform(df)
scaled_df = pd.DataFrame(scaled, columns=df.columns)
print(scaled_df)

        Age    Height    Weight
0  0.000000  0.000000  0.000000
1  0.316456  0.640000  0.857143
2  0.303797  0.333333  1.000000
3  0.164557  0.040000  0.500000
4  0.759494  0.866667  0.428571
5  0.569620  0.266667  0.107143
6  1.000000  1.000000  0.714286

## Normalisasi Standar (Z-score)

In [6]:
def z_score_standardization(series):
    return (series-series.min())/series.std()
for col in df.columns :
    df[col] = z_score_standardization(df[col])
print(df)

        Age    Height    Weight
0  0.000000  0.000000  0.000000
1  0.903793  1.625574  2.302811
2  0.867641  0.846653  2.686613
3  0.469972  0.101598  1.343306
4  2.169102  2.201298  1.151405
5  1.626827  0.677322  0.287851
6  2.855984  2.539959  1.919009

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()
scaler.fit(df)
scaled = scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled,columns=df.columns)
print(scaled_df)

        Age    Height    Weight
0 -1.372269 -1.233255 -1.495353
1 -0.396061  0.522566  0.991967
2 -0.435110 -0.318765  1.406520
3 -0.864641 -1.123516 -0.044416
4  0.970629  1.144419 -0.251693
5  0.384905 -0.501663 -1.184438
6  1.712547  1.510215  0.577414

## Normalisasi Standar (Absolute Max)

In [9]:
from sklearn.preprocessing import MaxAbsScaler

In [10]:
scaler = MaxAbsScaler()
scaler.fit(df)
scaled = scaler.transform(df)
scaled_df = pd.DataFrame(scaled, columns=df.columns)
print(scaled_df)

        Age    Height    Weight
0  0.000000  0.000000  0.000000
1  0.316456  0.640000  0.857143
2  0.303797  0.333333  1.000000
3  0.164557  0.040000  0.500000
4  0.759494  0.866667  0.428571
5  0.569620  0.266667  0.107143
6  1.000000  1.000000  0.714286

# CONTOH

In [15]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [19]:
csv_data = pd.read_csv("FILE_LATIHAN/shopping_data.csv")
csv_data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [21]:
array = csv_data.values
array

array([[1, 'Male', 19, 15, 39],
       [2, 'Male', 21, 15, 81],
       [3, 'Female', 20, 16, 6],
       [4, 'Female', 23, 16, 77],
       [5, 'Female', 31, 17, 40],
       [6, 'Female', 22, 17, 76],
       [7, 'Female', 35, 18, 6],
       [8, 'Female', 23, 18, 94],
       [9, 'Male', 64, 19, 3],
       [10, 'Female', 30, 19, 72],
       [11, 'Male', 67, 19, 14],
       [12, 'Female', 35, 19, 99],
       [13, 'Female', 58, 20, 15],
       [14, 'Female', 24, 20, 77],
       [15, 'Male', 37, 20, 13],
       [16, 'Male', 22, 20, 79],
       [17, 'Female', 35, 21, 35],
       [18, 'Male', 20, 21, 66],
       [19, 'Male', 52, 23, 29],
       [20, 'Female', 35, 23, 98],
       [21, 'Male', 35, 24, 35],
       [22, 'Male', 25, 24, 73],
       [23, 'Female', 46, 25, 5],
       [24, 'Male', 31, 25, 73],
       [25, 'Female', 54, 28, 14],
       [26, 'Male', 29, 28, 82],
       [27, 'Female', 45, 28, 32],
       [28, 'Male', 35, 28, 61],
       [29, 'Female', 40, 29, 31],
       [30, 'Female', 23, 29, 87],
       [31, 'Male', 60, 30, 4],
       [32, 'Female', 21, 30, 73],
       [33, 'Male', 53, 33, 4],
       [34, 'Male', 18, 33, 92],
       [35, 'Female', 49, 33, 14],
       [36, 'Female', 21, 33, 81],
       [37, 'Female', 42, 34, 17],
       [38, 'Female', 30, 34, 73],
       [39, 'Female', 36, 37, 26],
       [40, 'Female', 20, 37, 75],
       [41, 'Female', 65, 38, 35],
       [42, 'Male', 24, 38, 92],
       [43, 'Male', 48, 39, 36],
       [44, 'Female', 31, 39, 61],
       [45, 'Female', 49, 39, 28],
       [46, 'Female', 24, 39, 65],
       [47, 'Female', 50, 40, 55],
       [48, 'Female', 27, 40, 47],
       [49, 'Female', 29, 40, 42],
       [50, 'Female', 31, 40, 42],
       [51, 'Female', 49, 42, 52],
       [52, 'Male', 33, 42, 60],
       [53, 'Female', 31, 43, 54],
       [54, 'Male', 59, 43, 60],
       [55, 'Female', 50, 43, 45],
       [56, 'Male', 47, 43, 41],
       [57, 'Female', 51, 44, 50],
       [58, 'Male', 69, 44, 46],
       [59, 'Female', 27, 46, 51],
       [60, 'Male', 53, 46, 46],
       [61, 'Male', 70, 46, 56],
       [62, 'Male', 19, 46, 55],
       [63, 'Female', 67, 47, 52],
       [64, 'Female', 54, 47, 59],
       [65, 'Male', 63, 48, 51],
       [66, 'Male', 18, 48, 59],
       [67, 'Female', 43, 48, 50],
       [68, 'Female', 68, 48, 48],
       [69, 'Male', 19, 48, 59],
       [70, 'Female', 32, 48, 47],
       [71, 'Male', 70, 49, 55],
       [72, 'Female', 47, 49, 42],
       [73, 'Female', 60, 50, 49],
       [74, 'Female', 60, 50, 56],
       [75, 'Male', 59, 54, 47],
       [76, 'Male', 26, 54, 54],
       [77, 'Female', 45, 54, 53],
       [78, 'Male', 40, 54, 48],
       [79, 'Female', 23, 54, 52],
       [80, 'Female', 49, 54, 42],
       [81, 'Male', 57, 54, 51],
       [82, 'Male', 38, 54, 55],
       [83, 'Male', 67, 54, 41],
       [84, 'Female', 46, 54, 44],
       [85, 'Female', 21, 54, 57],
       [86, 'Male', 48, 54, 46],
       [87, 'Female', 55, 57, 58],
       [88, 'Female', 22, 57, 55],
       [89, 'Female', 34, 58, 60],
       [90, 'Female', 50, 58, 46],
       [91, 'Female', 68, 59, 55],
       [92, 'Male', 18, 59, 41],
       [93, 'Male', 48, 60, 49],
       [94, 'Female', 40, 60, 40],
       [95, 'Female', 32, 60, 42],
       [96, 'Male', 24, 60, 52],
       [97, 'Female', 47, 60, 47],
       [98, 'Female', 27, 60, 50],
       [99, 'Male', 48, 61, 42],
       [100, 'Male', 20, 61, 49],
       [101, 'Female', 23, 62, 41],
       [102, 'Female', 49, 62, 48],
       [103, 'Male', 67, 62, 59],
       [104, 'Male', 26, 62, 55],
       [105, 'Male', 49, 62, 56],
       [106, 'Female', 21, 62, 42],
       [107, 'Female', 66, 63, 50],
       [108, 'Male', 54, 63, 46],
       [109, 'Male', 68, 63, 43],
       [110, 'Male', 66, 63, 48],
       [111, 'Male', 65, 63, 52],
       [112, 'Female', 19, 63, 54],
       [113, 'Female', 38, 64, 42],
       [114, 'Male', 19, 64, 46],
       [115, 'Female', 18, 65, 48],
       [116, 'Female', 19, 65, 50],
       [117, 'Female', 63, 65, 43],
       [118, 'Female', 49, 65, 59],
       [119, 'Female', 51, 67, 43],
       [120, 'Female', 50, 67, 57],
       [121, 'Male', 27, 67, 56],
       [122, 'Female', 38, 67, 40],
       [123, 'Female', 40, 69, 58],
       [124, 'Male', 39, 69, 91],
       [125, 'Female', 23, 70, 29],
       [126, 'Female', 31, 70, 77],
       [127, 'Male', 43, 71, 35],
       [128, 'Male', 40, 71, 95],
       [129, 'Male', 59, 71, 11],
       [130, 'Male', 38, 71, 75],
       [131, 'Male', 47, 71, 9],
       [132, 'Male', 39, 71, 75],
       [133, 'Female', 25, 72, 34],
       [134, 'Female', 31, 72, 71],
       [135, 'Male', 20, 73, 5],
       [136, 'Female', 29, 73, 88],
       [137, 'Female', 44, 73, 7],
       [138, 'Male', 32, 73, 73],
       [139, 'Male', 19, 74, 10],
       [140, 'Female', 35, 74, 72],
       [141, 'Female', 57, 75, 5],
       [142, 'Male', 32, 75, 93],
       [143, 'Female', 28, 76, 40],
       [144, 'Female', 32, 76, 87],
       [145, 'Male', 25, 77, 12],
       [146, 'Male', 28, 77, 97],
       [147, 'Male', 48, 77, 36],
       [148, 'Female', 32, 77, 74],
       [149, 'Female', 34, 78, 22],
       [150, 'Male', 34, 78, 90],
       [151, 'Male', 43, 78, 17],
       [152, 'Male', 39, 78, 88],
       [153, 'Female', 44, 78, 20],
       [154, 'Female', 38, 78, 76],
       [155, 'Female', 47, 78, 16],
       [156, 'Female', 27, 78, 89],
       [157, 'Male', 37, 78, 1],
       [158, 'Female', 30, 78, 78],
       [159, 'Male', 34, 78, 1],
       [160, 'Female', 30, 78, 73],
       [161, 'Female', 56, 79, 35],
       [162, 'Female', 29, 79, 83],
       [163, 'Male', 19, 81, 5],
       [164, 'Female', 31, 81, 93],
       [165, 'Male', 50, 85, 26],
       [166, 'Female', 36, 85, 75],
       [167, 'Male', 42, 86, 20],
       [168, 'Female', 33, 86, 95],
       [169, 'Female', 36, 87, 27],
       [170, 'Male', 32, 87, 63],
       [171, 'Male', 40, 87, 13],
       [172, 'Male', 28, 87, 75],
       [173, 'Male', 36, 87, 10],
       [174, 'Male', 36, 87, 92],
       [175, 'Female', 52, 88, 13],
       [176, 'Female', 30, 88, 86],
       [177, 'Male', 58, 88, 15],
       [178, 'Male', 27, 88, 69],
       [179, 'Male', 59, 93, 14],
       [180, 'Male', 35, 93, 90],
       [181, 'Female', 37, 97, 32],
       [182, 'Female', 32, 97, 86],
       [183, 'Male', 46, 98, 15],
       [184, 'Female', 29, 98, 88],
       [185, 'Female', 41, 99, 39],
       [186, 'Male', 30, 99, 97],
       [187, 'Female', 54, 101, 24],
       [188, 'Male', 28, 101, 68],
       [189, 'Female', 41, 103, 17],
       [190, 'Female', 36, 103, 85],
       [191, 'Female', 34, 103, 23],
       [192, 'Female', 32, 103, 69],
       [193, 'Male', 33, 113, 8],
       [194, 'Female', 38, 113, 91],
       [195, 'Female', 47, 120, 16],
       [196, 'Female', 35, 120, 79],
       [197, 'Female', 45, 126, 28],
       [198, 'Male', 32, 126, 74],
       [199, 'Male', 32, 137, 18],
       [200, 'Male', 30, 137, 83]], dtype=object)

In [24]:
x = array[:,2:5]
x

array([[19, 15, 39],
       [21, 15, 81],
       [20, 16, 6],
       [23, 16, 77],
       [31, 17, 40],
       [22, 17, 76],
       [35, 18, 6],
       [23, 18, 94],
       [64, 19, 3],
       [30, 19, 72],
       [67, 19, 14],
       [35, 19, 99],
       [58, 20, 15],
       [24, 20, 77],
       [37, 20, 13],
       [22, 20, 79],
       [35, 21, 35],
       [20, 21, 66],
       [52, 23, 29],
       [35, 23, 98],
       [35, 24, 35],
       [25, 24, 73],
       [46, 25, 5],
       [31, 25, 73],
       [54, 28, 14],
       [29, 28, 82],
       [45, 28, 32],
       [35, 28, 61],
       [40, 29, 31],
       [23, 29, 87],
       [60, 30, 4],
       [21, 30, 73],
       [53, 33, 4],
       [18, 33, 92],
       [49, 33, 14],
       [21, 33, 81],
       [42, 34, 17],
       [30, 34, 73],
       [36, 37, 26],
       [20, 37, 75],
       [65, 38, 35],
       [24, 38, 92],
       [48, 39, 36],
       [31, 39, 61],
       [49, 39, 28],
       [24, 39, 65],
       [50, 40, 55],
       [27, 40, 47],
       [29, 40, 42],
       [31, 40, 42],
       [49, 42, 52],
       [33, 42, 60],
       [31, 43, 54],
       [59, 43, 60],
       [50, 43, 45],
       [47, 43, 41],
       [51, 44, 50],
       [69, 44, 46],
       [27, 46, 51],
       [53, 46, 46],
       [70, 46, 56],
       [19, 46, 55],
       [67, 47, 52],
       [54, 47, 59],
       [63, 48, 51],
       [18, 48, 59],
       [43, 48, 50],
       [68, 48, 48],
       [19, 48, 59],
       [32, 48, 47],
       [70, 49, 55],
       [47, 49, 42],
       [60, 50, 49],
       [60, 50, 56],
       [59, 54, 47],
       [26, 54, 54],
       [45, 54, 53],
       [40, 54, 48],
       [23, 54, 52],
       [49, 54, 42],
       [57, 54, 51],
       [38, 54, 55],
       [67, 54, 41],
       [46, 54, 44],
       [21, 54, 57],
       [48, 54, 46],
       [55, 57, 58],
       [22, 57, 55],
       [34, 58, 60],
       [50, 58, 46],
       [68, 59, 55],
       [18, 59, 41],
       [48, 60, 49],
       [40, 60, 40],
       [32, 60, 42],
       [24, 60, 52],
       [47, 60, 47],
       [27, 60, 50],
       [48, 61, 42],
       [20, 61, 49],
       [23, 62, 41],
       [49, 62, 48],
       [67, 62, 59],
       [26, 62, 55],
       [49, 62, 56],
       [21, 62, 42],
       [66, 63, 50],
       [54, 63, 46],
       [68, 63, 43],
       [66, 63, 48],
       [65, 63, 52],
       [19, 63, 54],
       [38, 64, 42],
       [19, 64, 46],
       [18, 65, 48],
       [19, 65, 50],
       [63, 65, 43],
       [49, 65, 59],
       [51, 67, 43],
       [50, 67, 57],
       [27, 67, 56],
       [38, 67, 40],
       [40, 69, 58],
       [39, 69, 91],
       [23, 70, 29],
       [31, 70, 77],
       [43, 71, 35],
       [40, 71, 95],
       [59, 71, 11],
       [38, 71, 75],
       [47, 71, 9],
       [39, 71, 75],
       [25, 72, 34],
       [31, 72, 71],
       [20, 73, 5],
       [29, 73, 88],
       [44, 73, 7],
       [32, 73, 73],
       [19, 74, 10],
       [35, 74, 72],
       [57, 75, 5],
       [32, 75, 93],
       [28, 76, 40],
       [32, 76, 87],
       [25, 77, 12],
       [28, 77, 97],
       [48, 77, 36],
       [32, 77, 74],
       [34, 78, 22],
       [34, 78, 90],
       [43, 78, 17],
       [39, 78, 88],
       [44, 78, 20],
       [38, 78, 76],
       [47, 78, 16],
       [27, 78, 89],
       [37, 78, 1],
       [30, 78, 78],
       [34, 78, 1],
       [30, 78, 73],
       [56, 79, 35],
       [29, 79, 83],
       [19, 81, 5],
       [31, 81, 93],
       [50, 85, 26],
       [36, 85, 75],
       [42, 86, 20],
       [33, 86, 95],
       [36, 87, 27],
       [32, 87, 63],
       [40, 87, 13],
       [28, 87, 75],
       [36, 87, 10],
       [36, 87, 92],
       [52, 88, 13],
       [30, 88, 86],
       [58, 88, 15],
       [27, 88, 69],
       [59, 93, 14],
       [35, 93, 90],
       [37, 97, 32],
       [32, 97, 86],
       [46, 98, 15],
       [29, 98, 88],
       [41, 99, 39],
       [30, 99, 97],
       [54, 101, 24],
       [28, 101, 68],
       [41, 103, 17],
       [36, 103, 85],
       [34, 103, 23],
       [32, 103, 69],
       [33, 113, 8],
       [38, 113, 91],
       [47, 120, 16],
       [35, 120, 79],
       [45, 126, 28],
       [32, 126, 74],
       [32, 137, 18],
       [30, 137, 83]], dtype=object)

In [25]:
y = array[:,0:1]
y

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24],
       [25],
       [26],
       [27],
       [28],
       [29],
       [30],
       [31],
       [32],
       [33],
       [34],
       [35],
       [36],
       [37],
       [38],
       [39],
       [40],
       [41],
       [42],
       [43],
       [44],
       [45],
       [46],
       [47],
       [48],
       [49],
       [50],
       [51],
       [52],
       [53],
       [54],
       [55],
       [56],
       [57],
       [58],
       [59],
       [60],
       [61],
       [62],
       [63],
       [64],
       [65],
       [66],
       [67],
       [68],
       [69],
       [70],
       [71],
       [72],
       [73],
       [74],
       [75],
       [76],
       [77],
       [78],
       [79],
       [80],
       [81],
       [82],
       [83],
       [84],
       [85],
       [86],
       [87],
       [88],
       [89],
       [90],
       [91],
       [92],
       [93],
       [94],
       [95],
       [96],
       [97],
       [98],
       [99],
       [100],
       [101],
       [102],
       [103],
       [104],
       [105],
       [106],
       [107],
       [108],
       [109],
       [110],
       [111],
       [112],
       [113],
       [114],
       [115],
       [116],
       [117],
       [118],
       [119],
       [120],
       [121],
       [122],
       [123],
       [124],
       [125],
       [126],
       [127],
       [128],
       [129],
       [130],
       [131],
       [132],
       [133],
       [134],
       [135],
       [136],
       [137],
       [138],
       [139],
       [140],
       [141],
       [142],
       [143],
       [144],
       [145],
       [146],
       [147],
       [148],
       [149],
       [150],
       [151],
       [152],
       [153],
       [154],
       [155],
       [156],
       [157],
       [158],
       [159],
       [160],
       [161],
       [162],
       [163],
       [164],
       [165],
       [166],
       [167],
       [168],
       [169],
       [170],
       [171],
       [172],
       [173],
       [174],
       [175],
       [176],
       [177],
       [178],
       [179],
       [180],
       [181],
       [182],
       [183],
       [184],
       [185],
       [186],
       [187],
       [188],
       [189],
       [190],
       [191],
       [192],
       [193],
       [194],
       [195],
       [196],
       [197],
       [198],
       [199],
       [200]], dtype=object)

In [28]:
dataset=pd.DataFrame({'Customer ID':array[:,0],'Gender':array[:,1],
                      'Age':array[:,2],'Income':array[:,3],'Spending Score':array[:,4]})
print('Dataset sebelum dinormalisasi')
dataset.head(10)

Dataset sebelum dinormalisasi

  Customer ID  Gender Age Income Spending Score
0           1    Male  19     15             39
1           2    Male  21     15             81
2           3  Female  20     16              6
3           4  Female  23     16             77
4           5  Female  31     17             40
5           6  Female  22     17             76
6           7  Female  35     18              6
7           8  Female  23     18             94
8           9    Male  64     19              3
9          10  Female  30     19             72

In [30]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,1))
data = min_max_scaler.fit_transform(x)
dataset = pd.DataFrame({'Age':data[:,0],'Income':data[:,1],
                        'Spending Score':data[:,2],'Customer ID':array[:,0],
                        'Gender':array[:,1]})

print("dataset setelah dinormalisasi :")
print(dataset.head(10))

dataset setelah dinormalisasi :
        Age    Income  Spending Score Customer ID  Gender
0  0.019231  0.000000        0.387755           1    Male
1  0.057692  0.000000        0.816327           2    Male
2  0.038462  0.008197        0.051020           3  Female
3  0.096154  0.008197        0.775510           4  Female
4  0.250000  0.016393        0.397959           5  Female
5  0.076923  0.016393        0.765306           6  Female
6  0.326923  0.024590        0.051020           7  Female
7  0.096154  0.024590        0.948980           8  Female
8  0.884615  0.032787        0.020408           9    Male
9  0.230769  0.032787        0.724490          10  Female